@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<p class="text-success">@ViewBag.Message</p>

<h2 style="color:ghostwhite">Details</h2>

<div>
    <h4 style="color:ghostwhite">Personal Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.CanSee != "false")
        {
            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.Zip)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.Zip)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd style="color:ghostwhite">
                $ @Html.DisplayFor(model => model.Balance).00
            </dd>
        }
        @if (Model.CanSee != "true")
        {
            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.PickupDay)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.PickupDay)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.ExtraPickupDate)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.ExtraPickupDate)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.SuspendedStart)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.SuspendedStart)
            </dd>

            <dt style="color:ghostwhite">
                @Html.DisplayNameFor(model => model.SuspendedEnd)
            </dt>

            <dd style="color:ghostwhite">
                @Html.DisplayFor(model => model.SuspendedEnd)
            </dd>
        }


    </dl>
</div>
@if (User.IsInRole("Customer") != true)
{
    <img src="@ViewBag.StaticMapUri" alt="Static Map Image" style="opacity:.95"/>
    <br />
    <br />
}
<p style="font-weight:bold">
    @if (User.IsInRole("Employee") == true || User.IsInRole("Manager") == true || User.IsInRole("Admin") == true)
    {
        if (User.IsInRole("Admin") == true)
        {
            @Html.ActionLink("Back To List", "Index", "Employees");
        }
        else
        {
            @Html.ActionLink("Back To List", "Filter");
        }
    }
    else
    {
        if (Model.CanSee != "false")
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })<text> | </text>
        }
        @Html.ActionLink("Home", "Balance");
    }

</p>
