@model TrashCollector.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personal Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:ghostwhite">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd style="color:ghostwhite">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt style="color:ghostwhite">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd style="color:ghostwhite">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt style="color:ghostwhite">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd style="color:ghostwhite">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt style="color:ghostwhite">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd style="color:ghostwhite">
            @Html.DisplayFor(model => model.Zip)
        </dd>

    </dl>
</div>
<p style="font-weight:bold">
    @if (Model.Id == ViewBag.Id)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @if ((User.IsInRole("Admin") == true || User.IsInRole("Manager") == true) && Model.Id != ViewBag.Id)
    {
        @Html.ActionLink("Back To List", "Index", new { id = Model.Id })
    }
</p>
